<head>
<style type="text/css">
div#container{width:1300px}
div#header {background-color:#99bbbb;}
<!-- div#menu {background-color:#ffff99;height:700px;width:200px;float:left;} -->
div#menu {background-color:#ffff99;;height:700px;width:200px;float:left;}
div#content {background-color:#EEEEEE;height:700px;width:1100px;float:left;}
div#footer {background-color:#99bbbb;clear:both;text-align:center;}
h1 {margin-bottom:0;}
h2 {margin-bottom:0;font-size:18px;}
ul {margin:0;}
li {list-style:none;}
</style>
</head>

<body bgcolor="CadetBlue">  


<div id="container">

<div id="header">
<h1>Web Based Fault Diagnose System</h1>
</div>

<div id="menu">
<h2>Menu</h2>
<ul>
<li><a href="/">HomePage</a></li>	
<li><a href="/fault_data/">Brose the Database</a></li>
<li>PAGE2</li>
<li>PAGE3</li>
</ul>
</div>

<div id="content">
<h2>Diagnose:</h2>

 {% for p in FaultMode_list %}
       {% if FaultModeID = p.FaultModeID %}
       	<ul>
		<li>FaultModeID: {{ p.FaultModeID }}</li>
		<li>FaultMode: {{ p.FaultMode }}</li>
		<li>FaultDescription: {{ p.FaultDescription }}</li>
		<li>HighLevelFaultModeID: {{ p.HighLevelFaultModeID }}</li>
		<li>DetectionMethod: {{ p.DetectionMethod }}</li>
		<li>ManualDetectionMethodID: {{ p.ManualDetectionMethodID }}</li>
		<li>FunctionID: {{ p.FunctionID }}</li>
		<li>Priority: {{ p.Priority }}</li>
		<li>LogicalRelationship: {{ p.LogicalRelationship }}</li>
    	</ul>
    	{% endif %}
    {% endfor %}



</div>

<div id="footer">No Copyright</div>

</div>

</body>
