{% extends "frame.html" %}

{% block mycontent %}
<h2>数据浏览:</h2>
<br>
{% if FaultMode_list %}
    <p><b>故障模式一览表:</b></p>
    <ul>
    {% for p in FaultMode_list %}
			<li><a href="/fault_data/fault_mode/{{ p.FaultModeID }}/"> 第{{p.FaultModeID}}号故障：{{ p.FaultMode }}</a></li>

    {% endfor %}
    </ul>
{% endif %}

{% if FaultCause_list %}   
	<p><b>故障原因一览表:</b></p>
	<ul>
    {% for p in FaultCause_list %}
			<li><a href="/fault_data/fault_cause/{{ p.FaultCauseID }}/"> 第{{p.FaultCauseID}}号故障原因：{{ p.FaultCause }}</a></li>

    {% endfor %}
	</ul>
{% endif %}

{% endblock %}
