{% extends "frame.html" %}


{% block mycontent %}
<h2>数据浏览:</h2>
<br>
<p><b>1. 高层故障模式列表:</b></p>
{% if HighLevelFaultMode_list %}
    <ul>
    {% for p in HighLevelFaultMode_list %}
			<li><a href="/fault_data/{{ p.FaultModeID }}/"> 第{{p.FaultModeID}}号故障：{{ p.FaultMode }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>没有可用的故障模式数据.</p>

{% endif %}

<p><b>2. 故障模式一览表:</b></p>

<ul>
<li><a button class="btn btn-primary" type="button" href="/fault_data/all_mode/"> 故障模式一览表</a></li>
</ul>

<p><b>3. 故障原因一览表:</b></p>
<ul>
<li><a button class="btn btn-primary" type="button" href="/fault_data/all_cause/"> 故障原因一览表</a></li>
</ul>
{% endblock %}
