<head>
	<link rel = "stylesheet" type = "text/css" href = "/media/css/main.css">

</head>

<body bgcolor=#092e20>  



	<div id="header">
		<h1>Web Based Fault Diagnose System</h1>
	</div>

	<div id="menu">

	<img src="/media/fast1.png" width="200" height="125">
	<h2>目录:</h2>
		<br>
		<a href="/" class="center fixlength large blue awesome">主页 &raquo</a> <br><br>
		<a href="/fault_data/"class="center fixlength large blue awesome">数据浏览 &raquo</a> <br><br>
		<a href="/fault_data/diagnose/"class="center fixlength large blue awesome">故障诊断 &raquo</a> <br><br>
		<a href="/test"class="center fixlength large blue awesome">测试 &raquo </a> <br><br>
		<a href="/"class="center fixlength large blue awesome">PAGE 5 &raquo </a> <br><br>
		<a href="/"class="center fixlength large blue awesome">PAGE 6 &raquo  </a> <br><br>
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<div id="footer"> University of Science and Technology of China</div>




</body>
