{% extends "frame.html" %}

{% block content %}


	<h2>主页:</h2>
	<p>

	</p>
	<p>
		This is a web based fault diagnose system for FAST. The system is designed for browsing and querring the exsited fault mode.
		Moreover, the system also provide a diagnose interface for the users. 
		
	</p>	
	<p>
	最后更新：05/09/2013<br><br>
	因为还有点兼容问题，建议使用Chrome进行浏览。<br><br>
	<b>Change Log：</b> <br><br>
	1.修改了数据库的设计，删除了一些属性值。新添加了一个表用来记录故障模式之间的关系，因而解决了以前的一些问题 <br><br>
	2.录入了更多的相关数据，将故障模式，故障原因，故障模式关系，故障原因关系三个表录入完毕<br><br>
	</p>
{% endblock %}
