{% extends "frame.html" %}

{% block content %}


	<h2>测试用页面:</h2>

	<p>
		{{ now }}
	</p>
	
	<p> <b>图片显示示例：</b></p>
	<p>
	<img src="/media/test.jpg" width="100" height="100">
	</p>
	<p> <b>文字显示示例：</b></p>
	<p>
		{% load webdesign %}
		{% lorem %}
	</p>
	<p><b> CSS按钮显示示例：</b></p>
						<a class="large awesome">Super Awesome Button &raquo;</a> <br /><br />
						<a class="large blue awesome">Awesome Blue Button &raquo;</a> <br /><br />
						<a class="large magenta awesome">Awesome Magenta Button &raquo;</a> <br /><br />
						<a class="large red awesome">Awesome Red Button &raquo;</a> <br /><br />
						<a class="large orange awesome">Awesome Orange Button &raquo;</a> <br /><br />
						<a class="large yellow awesome">Awesome Yellow Button &raquo;</a> <br /><br />

			
		<!--				
						<a class="medium awesome">Super Awesome Button &raquo;</a> <br /><br />
						<a class="medium blue awesome">Awesome Blue Button &raquo;</a> <br /><br />
						<a class="medium magenta awesome">Awesome Magenta Button &raquo;</a> <br /><br />
						<a class="medium red awesome">Awesome Red Button &raquo;</a> <br /><br />
						<a class="medium orange awesome">Awesome Orange Button &raquo;</a> <br /><br />
						<a class="medium yellow awesome">Awesome Yellow Button &raquo;</a>  <br /><br />
						
						<a class="small awesome">Super Awesome Button &raquo;</a> <br /><br />
						<a class="small blue awesome">Awesome Blue Button &raquo;</a> <br /><br />
						<a class="small magenta awesome">Awesome Magenta Button &raquo;</a> <br /><br />
						<a class="small red awesome">Awesome Red Button &raquo;</a> <br /><br />
						<a class="small orange awesome">Awesome Orange Button &raquo;</a> <br /><br />
						<a class="small yellow awesome">Awesome Yellow Button &raquo;</a> 
	-->
{% endblock %}
