{% extends "frame.html" %}

{% block mycontent %}
<h2>故障原因数据添加选项:</h2>
<br>

       	<ul>
		<li>添加故障原因</li>
		<br>
		添加为：
		<form action="/fault_data/fault_cause/addattr/" method="get">
		FaultCauseID（故障原因ID)：
		<input type="text" name="FaultCauseID"><br>
		FaultCause（故障原因）
		<input type="text" name="FaultCause"><br>
		FaultCauseDescription（故障原因描述）
		<input type="text" name="FaultCauseDescription"><br>
		DetectionMethod（故障原因检测方式）
		<input type="text" name="DetectionMethod"><br>
		ManualDetectionMethodID（手动检测方法ID:）
		<input type="text" name="ManualDetectionMethodID"><br>
		FunctionID（相关函数ID）:
		<input type="text" name="FunctionID"><br>
		Priority（优先级）:
		<input type="text" name="Priority"><br>
		LogicalRelationship（逻辑关系：当前故障原因和其高层故障模式的关系（与、或））:
		<input type="text" name="LogicalRelationship"><br>
		MaintenanceSuggustions(维修建议)
		<input type="text" name="MaintenanceSuggustions"><br>
		<input type="submit" value="提交 &raquo" button class="btn btn-primary"> 
		
		</form>

{% endblock %}
