{% extends "frame.html" %}

{% block mycontent %}
<br>

<h2>搜索结果:</h2>
<br>
<br>
{% if search_list %}
   <table border="2">
    {% for p in search_list %}
     <tr>   
		<td> <a href="/fault_data/fault_cause/{{ p.FaultCauseID }}/"> 第{{p.FaultCauseID}}号故障原因</a>:</td>
		<td> {{ p.FaultCause }} </td>
       <td> <a href="/fault_data/fault_cause/del/{{ p.FaultCauseID }}/">删除第{{p.FaultCauseID}}号故障原因</a></td>
       <td> <a href="/fault_data/fault_cause/modify/{{ p.FaultCauseID }}/">修改第{{p.FaultCauseID}}号故障原因</a></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No search resualt are available.</p>
{% endif %}




{% endblock %}
