{% extends "frame.html" %}

{% block content %}
<h2>数据管理:</h2>
<br>
<p><b>故障模式列表:</b></p>
{% if FaultMode_list %}
   <table border="2">
    {% for p in FaultMode_list %}
     <tr>   
		<td> <a href="/fault_data/{{ p.FaultModeID }}/"> 第{{p.FaultModeID}}号故障</a>:</td>
		<td> {{ p.FaultMode }} </td>
       <td> <a href="/fault_data/del/{{ p.FaultModeID }}/">删除第{{p.FaultModeID}}号故障模式</a></td>
       <td> <a href="/fault_data/modify/{{ p.FaultModeID }}/">修改第{{p.FaultModeID}}号故障模式</a></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No Search Result are available.</p>
{% endif %}

{% endblock %}
