{% extends "frame.html" %}

{% block content %}
<h2>数据管理:</h2>
<br>
<p><b>故障模式列表:</b></p>
{% if FaultMode_list %}
    <ul>
    {% for p in FaultMode_list %}
        <li><a href="/fault_data/{{ p.FaultModeID }}/"> 第{{p.FaultModeID}}号故障：{{ p.FaultMode }}</a></li>
        <a href="/fault_data/del/{{ p.FaultModeID }}/">删除第{{p.FaultModeID}}号故障模式</a>
        <a href="/fault_data/modify/{{ p.FaultModeID }}/">修改第{{p.FaultModeID}}号故障模式</a>
        <br><br>
    {% endfor %}
    </ul>
{% else %}
    <p>No FaultMode are available.</p>
{% endif %}

{% endblock %}
