{% extends "frame.html" %}

{% block mycontent %}
<h2>故障模式数据管理:</h2>
<br>
<br>


<a href="/fault_data/add_mode_data/" button class="btn btn-primary" type="button">添加故障模式</a></button>

<br><br>

<li>搜索故障模式</li>
<form action="/fault_data/manage_search/" method="get">
    <input type="text" name="search_text"><br>
    <input type="submit" value="提交 &raquo" class="large orange awesome"> 
</form>

<p><b>故障模式列表:</b></p>
{% if FaultMode_list %}
   <table border="2">
    {% for p in FaultMode_list %}
     <tr>   
		<td> <a href="/fault_data/fault_mode/{{ p.FaultModeID }}/"> 第{{p.FaultModeID}}号故障</a>:</td>
		<td> {{ p.FaultMode }} </td>
       <td> <a href="/fault_data/fault_mode/del/{{ p.FaultModeID }}/">删除第{{p.FaultModeID}}号故障模式</a></td>
       <td> <a href="/fault_data/fault_mode/modify/{{ p.FaultModeID }}/">修改第{{p.FaultModeID}}号故障模式</a></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No Search Result are available.</p>
{% endif %}

{% endblock %}
