{% extends "frame.html" %}

{% block mycontent %}
<h2>故障原因数据管理:</h2>
<br>
<br>


<a href="/fault_data/add_cause_data/" button class="btn btn-primary" type="button">添加故障原因</a></button>

<br><br>

<li>搜索故障原因</li>
<form action="/fault_data/manage_search/" method="get">
    <input type="text" name="search_text"><br>
    <input type="submit" value="提交 &raquo" class="large orange awesome"> 
</form>

<p><b>故障原因列表:</b></p>
{% if FaultCause_list %}
   <table border="2">
    {% for p in FaultCause_list %}
     <tr>   
		<td> <a href="/fault_data/fault_cause/{{ p.FaultCauseID }}/"> 第{{p.FaultCauseID}}号故障原因</a>:</td>
		<td> {{ p.FaultCause }} </td>
       <td> <a href="/fault_data/fault_cause/del/{{ p.FaultCauseID }}/">删除第{{p.FaultCauseID}}号故障原因</a></td>
       <td> <a href="/fault_data/fault_cause/{{ p.FaultCauseID }}/">修改第{{p.FaultCauseID}}号故障原因</a></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No Search Result are available.</p>
{% endif %}

{% endblock %}
