{% extends "frame.html" %}

{% block mycontent %}
<h2>故障数据细节及修改选项:</h2>
<br>
 {% for p in ChosenFaultMode %}
       	<ul>
		<li>FaultModeID（故障原因ID): 	<b>{{ p.FaultModeID }}</b></li>
		解释：故障模式的ID号
		<br><br>
		
		<li>FaultMode（故障模式）: <b>{{ p.FaultMode }}</b></li>
		解释：故障模式或故障原因，即故障树中的节点名称
			<br>
		修改为：
		<form action="/fault_data/fault_mode/modify/{{ p.FaultModeID }}/FaultMode" method="get">
		<input type="text" name="search_text"><br>
		<input type="submit" value="提交 &raquo" button class="btn btn-primary"> 
		</form>
		
		<li>FaultDescription（故障描述）: <b>{{ p.FaultDescription }}</b></li>
		解释：对于故障模式的具体描述
			<br>
		修改为：
		<form action="/fault_data/fault_mode/modify/{{ p.FaultModeID }}/FaultDescription" method="get">
		<input type="text" name="search_text"><br>
		<input type="submit" value="提交 &raquo" button class="btn btn-primary"> 
		</form>
			
		<li>DetectionMethod（故障模式检测方式）: <b>{{ p.DetectionMethod }}</b></li>
		解释：故障模式检测方式：手动方式或通过状态来检测（0是自动检测，非零是手动检测）
			<br>
		修改为：
		<form action="/fault_data/fault_mode/modify/{{ p.FaultModeID }}/DetectionMethod" method="get">
		<input type="text" name="search_text"><br>
		<input type="submit" value="提交 &raquo" button class="btn btn-primary"> 
		</form>
		
		
		<li>ManualDetectionMethodID（手动检测方法ID）: <b>{{ p.ManualDetectionMethodID }}</b></li>
		解释：手动检测方法ID 
			<br>
		修改为：
		<form action="/fault_data/fault_mode/modify/{{ p.FaultModeID }}/MaunualDetectionMethodID" method="get">
		<input type="text" name="search_text"><br>
		<input type="submit" value="提交 &raquo" button class="btn btn-primary"> 
		</form>
		
		
		<li>FunctionID（相关函数ID）: <b>{{ p.FunctionID }}</b></li>
		解释：相关函数ID
			<br>
		修改为：
		<form action="/fault_data/fault_mode/modify/{{ p.FaultModeID }}/FunctionID" method="get">
		<input type="text" name="search_text"><br>
		<input type="submit" value="提交 &raquo" button class="btn btn-primary"> 
		</form>
		
		
		<li>Priority（优先级）: <b>{{ p.Priority }}</b></li>
		解释：优先级
			<br>
		修改为：
		<form action="/fault_data/fault_mode/modify/{{ p.FaultModeID }}/Priority" method="get">
		<input type="text" name="search_text"><br>
		<input type="submit" value="提交 &raquo" button class="btn btn-primary"> 
		</form>
		
		
		<li>LogicalRelationship（逻辑关系：当前故障模式和其高层故障模式的关系（与、或））: <b>{{ p.LogicalRelationship }}</b></li>
    	解释：逻辑关系：当前故障模式和其高层故障模式的关系（与、或）
    		<br>
		修改为：
		<form action="/fault_data/fault_mode/modify/{{ p.FaultModeID }}/LogicalRelationship" method="get">
		<input type="text" name="search_text"><br>
		<input type="submit" value="提交 &raquo" button class="btn btn-primary"> 
		</form>
    	</ul>
   {% endfor %}


{% endblock %}
