{% extends "frame.html" %}

{% block content %}
<br>

<h2>搜索结果:</h2>
<br>
<br>
{% if search_list %}
   <table border="2">
    {% for p in search_list %}
     <tr>   
		<td> <a href="/fault_data/{{ p.FaultModeID }}/"> 第{{p.FaultModeID}}号故障</a>:</td>
		<td> {{ p.FaultMode }} </td>
       <td> <a href="/fault_data/del/{{ p.FaultModeID }}/">删除第{{p.FaultModeID}}号故障模式</a></td>
       <td> <a href="/fault_data/modify/{{ p.FaultModeID }}/">修改第{{p.FaultModeID}}号故障模式</a></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No search resualt are available.</p>
{% endif %}




{% endblock %}
