{% extends "frame.html" %}

{% block mycontent %}

<!-- <a class="large awesome">Fault Diagnose </a>  -->
<h2>故障诊断:</h2>
<br>

<p><b>1. 高层故障模式列表:</b></p>
{% if HighLevelFaultMode_list %}
    <ul>
    {% for p in HighLevelFaultMode_list %}
			<li><a href="/fault_data/diagnose/{{ p.FaultModeID }}/"> 第{{p.FaultModeID}}号故障：{{ p.FaultMode }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>没有可用的故障模式数据.</p>
{% endif %}

<p><b>2. 输入需要查询的故障模式名(模糊搜索):</b></p>

<form action="/fault_data/search/" method="get">
    <input type="text" name="search_text"><br>
    <input type="submit" value="提交 &raquo" class="large orange awesome"> 
</form>



<br>
<br>
<!--
<p><b>3. Input the FaultModeID you are searching for:</b></p>


<form action="/fault_data/search/" method="get">
{% csrf_token %}
{% for choice in FaultMode_list %}
    <input type="radio" name="search_text" id="choice{{ forloop.counter }}" value="{{ choice.FaultModeID }}" />
    <label for="{{ forloop.counter }}">{{ choice.FaultMode }}</label><br />
{% endfor %}

<input type="submit" value="Submit &raquo" class="large orange awesome"> 
</form>
-->

{% endblock %}
